body{
    font-size: 16px;
    font-weight: 300;
    font-family: "SF UI Display";
    background-color: #151515;
    color: white;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
}
h1,h2,h3,h4,h5,h6{
    font-family: "SF UI Display";
    font-weight: 300;
    color: white;
}
p{
    line-height: 28px;
    margin-top: 25px;
}
.centered {
    text-align: center;
}



/*Links*/
.nav-link {
    padding: 15px;
    font-weight: 500;
}

#section2 {
    background-color: #151515;
    padding-top: 60px;
    padding-bottom: 70px;
    text-align: center;
}


.col-lg-3 img {
    border-image-width: 100px;
}
#section2 h4 {
    padding-top: 35px;
    padding-bottom: 35px;
}

#section2 h1 {
    padding-bottom: 35px;
    font-weight: 500;
}

#section3 {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 70px;
    text-align: center;
}

#section3 h4 {
    color: black;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    margin: auto;
}

#section3 h1 {
    color: black;
    padding-bottom: 35px;
    font-weight: 500;
    text-align: center;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

#section2 {
    background-color: #151515;
    padding-top: 35px;
    padding-bottom: 70px;
    text-align: center;
}

.w {
    padding-top: 35px;
}

.col-lg-3 img {
    border-image-width: 100px;
}

#section2 h4 {
    padding-top: 35px;
    padding-bottom: 35px;
}

#section2 h1 {
    padding-bottom: 35px;
    font-weight: 500;
}

#section3 {
    background-color: white;
    padding-top: 35px;
    padding-bottom: 70px;
    text-align: center;
}

#section3 h4 {
    color: black;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    margin: auto;
}

#section3 h1 {
    color: black;
    padding-bottom: 35px;
    font-weight: 500;
    text-align: center;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}
#section2 {
    background-color: #151515;
    padding-top: 35px;
    padding-bottom: 70px;
    text-align: center;
}
#section2 img {
    height: auto;
    width: 250px;
}
#section3 img {
    height: auto;
    width: 170px;
    align-content: center;
}

.w {
    padding-top: 35px;
}

.col-lg-3 img {
    border-image-width: 100px;
}

#section2 h4 {
    padding-top: 35px;
    padding-bottom: 35px;
}

#section2 h1 {
    padding-bottom: 35px;
    font-weight: 500;
}

#section3 {
    background-color: white;
    padding-top: 35px;
    padding-bottom: 70px;
    text-align: center;
}

#section3 h4 {
    color: black;
    padding-top: 35px;
    padding-bottom: 35px;
}

#section3 h1 {
    color: black;
    padding-bottom: 35px;
    font-weight: 500;
}
#section4 {
    background: #151515;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

#section4 p {
    font-size: 25px;
}
.col-lg-3{
    color:goldenrod;
    font-size: 30px;

}
#section5{
    text-align: center;
    padding-bottom: 100px;
    padding-top: 80px;
    background: white;
}
#section5 h5{
    color: #151515;
    font-size: 35px;
}
#section5 h4{
    color: #151515;
    font-weight: 500;
}

#section5 p {
    color: #151515;
    font-weight: 500;
    font-size: 20px;
}
#footer{
    background: #2d2d2d;
}
#footer i{
    color: #bdbdbd;
    font-size: 30px;
    padding: 30px;
}
#footer i:hover{
    color: greenyellow;
}
#copyrights{
    background: #151515;
    padding-top: 7px;
    padding-bottom: 20px;
    text-align: center;
    color: #fff;
}
.img-block{
    width: 200px;
    height: 210px;
    float: left;
}
.navbar{
    background-color: rgba(21, 21, 21, 0.76) !important;
}

#section2 a {
    color: white;
}
#Inthebox{
    background-color: #fafafa;
}

#Inthebox h5 {
    color: #151515;
}

#Inthebox h2 {
    color: #151515;
}

#Inthebox7 h2 {
    color: #151515;
}

#Inthebox88 h2 {
    color: #151515;
}

#Inthebox8 h2 {
    color: #151515;
}

#Inthebox .container {
    background-color: #fafafa;
}

#Inthebox8{
    background-color: #fafafa;
}
#Inthebox8 h5 {
    color: #151515;
}

#Inthebox88 h5 {
    color: #151515;
}
#Inthebox88 .container {
    background-color: #fafafa;
}

#Inthebox88{
    background-color: #fafafa;
}
#Inthebox88 h5 {
    color: #151515;
}

#Inthebox7 h5 {
    color: #151515;
}
#Inthebox7 .container {
    background-color: #fafafa;
}

#Inthebox7{
    background-color: #fafafa;
}
#Inthebox7 h5 {
    color: #151515;
}

#section2 .col-lg-3{
    -webkit-transition: all 100s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    transition-timing-function: cubic-bezier(0.5, 0.5, 0, 0);


}
#section2 .col-lg-3:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    animation-direction: alternate;


}

#section3 .col-lg-2{
    -webkit-transition: all 100s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;


}
#section3 .col-lg-2:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    animation-direction: alternate;


}