body{
    font-size: 16px;
    font-weight: 300;
    font-family: "SF UI Display";
    background-color: #151515;
    color: white;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
}
h1,h2,h3,h4,h5,h6{
    font-family: "SF UI Display";
    font-weight: 300;
    color: white;
}
p{
    line-height: 28px;
    margin-top: 25px;
}
.centered {
    text-align: center;
}



/*Links*/
.nav-link {
    padding: 15px;
    font-weight: 500;
}

#headwrap {
    background: url("../img/headerwrap1.jpg") no-repeat center top;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

#headwrap h1 {
    color: black;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px;
}

#headwrap h4 {
    color: black;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 400px;
}

#section2 {
    background-color: #151515;
    padding-top: 35px;
    padding-bottom: 70px;
    text-align: center;
}

.w {
    padding-top: 35px;
}

.col-lg-3 img {
    border-image-width: 100px;
}

#section2 h4 {
    padding-top: 35px;
    padding-bottom: 35px;
}

#section2 h1 {
    padding-bottom: 35px;
    font-weight: 500;
}

#section3 {
    background-color: white;
    padding-top: 35px;
    padding-bottom: 70px;
    text-align: center;
}

#section3 h4 {
    color: black;
    padding-top: 35px;
    padding-bottom: 35px;
}

#section3 h1 {
    color: black;
    padding-bottom: 35px;
    font-weight: 500;
}
#section4 {
    background: darkslategrey;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}
#section4 h4{
    font-weight: 700;
}
.col-lg-3{
    color: gold;
    font-size: 30px;

}
#footer{
    background: #2d2d2d;
}
#footer i{
    color: #bdbdbd;
    font-size: 50px;
    padding: 50px;
}
#footer i:hover{
    color: greenyellow;
}
#copyrights{
    background: #151515;
    padding-top: 7px;
    padding-bottom: 70px;
    text-align: center;
    color: #fff;
}