
body{
    font-size: 16px;
    font-weight: 300;
    font-family: "SF UI Display";
    background-color: #fff;
    color: white;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
}
h1,h2,h3,h4,h5,h6{
    font-family: "SF UI Display";
    font-weight: 300;
    color: white;
}
p{
    line-height: 28px;
    margin-top: 25px;
}
.centered {
    text-align: center;
}



/*Links*/
.navbar-brand i{
    color: #ff7878;
}
.nav-link {
    padding: 15px;
    font-weight: 500;
}
.nav-item .active{
    background: #ff7878;
}
/* section 4 */
#section4{
    background: #444444;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}
.w{
    padding-top: 35px;
}
.col-lg-3 i{
    color: #000;
    font-size: 35px;
}
#section4 h4{
    font-weight: 700    ;
}
